<div class="wrapper">
    <h1 id="game-title"><span class="black">&spades; </span><span class="red">&hearts; </span>Blackjack <span class="red">&diams;</span><span class="black"> &clubs;</span></h1>
    <div class="container">
      <div class="sides" id="dealer-hand">
        <div class="cards">
          <div class="card"><p id="dealercard1">?</p></div>
          <div class="card" id="hidden-card"><p id="dealercard2">?</p></div>
        </div>
        <div class="score"><p id="dealer-score">?</p></div>
      </div>
      <div class="sides" id="player-hand">
        <div class="cards">
          <div class="card"><p id="playercard1">?</p></div>
          <div class="card"><p id="playercard2">?</p></div>
          <div class="card" id="hit1"></div>
          <div class="card" id="hit2"></div>
          <div class="card" id="hit3"></div>
        </div>
        <div class="score"><p id="player-score">?</p></div>
      </div>
    </div>
    <p id="message"></p>
    <div class="controls">
      <button id="new-game">New Game</button>
      <button id="hit">Hit Me</button>
      <button id="stand">Stand</button>
    </div>
  </div>